@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply h-full;
  }

  html,
  body {
    @apply h-full select-none bg-transparent font-mono antialiased text-gray-800 dark:text-white overflow-hidden;
  }
}
/* For the custom drawn selection (via drawSelection) */

.cm-editor .cm-selectionBackground {
  background-color: rgba(100, 149, 200, 0.2) !important; /* 0.5 = 50% opacity */
}
/* For native browser selection (as fallback when not focused) */

.cm-editor {
  font-family: 'JetBrains Mono', monospace !important; /* any font you like */
  font-size: 12px; /* adjust size */
  line-height: 1.5;
}

/* Light mode */
.cm-table-delimiter {
  color: #3b82f6;
  font-weight: bold;
}
.cm-table-cell {
  color: #065f46;
}

.cm-editor .cm-quote {
  background-color: #3b82f6;
}

/* Dark mode */
.dark .cm-table-delimiter {
  color: #60a5fa;
  font-weight: bold;
}
.dark .cm-table-cell {
  color: #34d399;
}

cm-mygutter {
  background-color: '#010100';
}

header {
  -webkit-app-region: drag;
}

.button {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#555] rounded-md;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Webkit-based browsers (Chrome, Edge, Safari) */
.preview-scrollbar::-webkit-scrollbar {
  width: 6px; /* width of vertical scrollbar */
  height: 6px; /* height of horizontal scrollbar */
}
